alabaster==0.7.12+computecanada
Babel==2.10.3+computecanada
certifi==2022.9.24+computecanada
charset_normalizer==2.1.1+computecanada
contourpy==1.0.5+computecanada
cycler==0.11.0+computecanada
deepTools==3.5.0+computecanada
deeptoolsintervals==0.1.9+computecanada
docutils==0.19+computecanada
fonttools==4.38.0+computecanada
idna==3.4+computecanada
imagesize==1.4.1+computecanada
importlib_metadata==5.2.0+computecanada
Jinja2==3.1.2+computecanada
kiwisolver==1.4.4+computecanada
MarkupSafe==2.1.1+computecanada
matplotlib==3.6.1+computecanada
numpy==1.23.0+computecanada
numpydoc==1.1.0+computecanada
packaging==21.3+computecanada
Pillow==9.2.0+computecanada
plotly==5.11.0+computecanada
py2bit==0.3.0+computecanada
pyBigWig==0.3.18+computecanada
Pygments==2.13.0+computecanada
pyparsing==3.0.9+computecanada
pysam==0.20.0+computecanada
python-dateutil==2.8.2+computecanada
pytz==2022.7+computecanada
requests==2.28.1+computecanada
scipy==1.9.3+computecanada
six==1.16.0+computecanada
snowballstemmer==2.2.0+computecanada
Sphinx==5.1.1+computecanada
sphinxcontrib-applehelp==1.0.2+computecanada
sphinxcontrib-devhelp==1.0.2+computecanada
sphinxcontrib-htmlhelp==2.0.0+computecanada
sphinxcontrib-jsmath==1.0.1+computecanada
sphinxcontrib-qthelp==1.0.3+computecanada
sphinxcontrib-serializinghtml==1.1.5+computecanada
tenacity==8.1.0+computecanada
urllib3==1.26.13+computecanada
zipp==3.11.0+computecanada
